In [1]:
import numpy as np
import pandas as pd
import datetime
from datetime import date
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
hostname="localhost"
dbname="payroll_system"
uname="root"
pwd=""

In [28]:
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))
connection = engine.connect()

In [29]:
def create_payroll(no_of_people):
#     no_of_people = int(input("Enter the amount of people: "))
    payroll_list = []
    
    for i in range(0, no_of_people):
        payroll_dict = {}
        payroll_dict["Name"] = input("Enter name: ")
        payroll_dict["Daily-Rate"] = int(input("Enter person's daily rate: "))
        payroll_list.append(payroll_dict)
        start_date_entry = input('Enter start date in MM/DD/YYYY: ')
        payroll_dict['start_date'] = start_date_entry
        payday_entry = input('Enter payday date in MM/DD/YYYY: ')
        payroll_dict['payday_date'] = payday_entry
    print("Employee(s) added!")
    
    df = pd.DataFrame.from_dict(payroll_list)
    df['start_date'] = pd.to_datetime(df['start_date'])
    df['payday_date'] = pd.to_datetime(df['payday_date'])
    df['no_of_days'] = (df['payday_date'] - df['start_date']).astype(str)
    amount = df['no_of_days'] * df['Daily-Rate']
    df['amount_to_pay'] = (amount / np.timedelta64(1, 'D')).astype(int)

    df.to_sql('employees', engine, index=False)

In [30]:
def add_employee(no_of_people):
    employee_list = []
    
    for i in range(0, no_of_people):
        employee_dict = {}
        employee_dict["Name"] = input("Enter name: ")
        employee_dict["Daily-Rate"] = int(input("Enter person's daily rate: "))
        employee_list.append(employee_dict)
        start_date_entry = input('Enter start date in MM/DD/YYYY: ')
        employee_dict['start_date'] = start_date_entry
        payday_entry = input('Enter payday date in MM/DD/YYYY: ')
        employee_dict['payday_date'] = payday_entry
    print("Employee(s) added!")
    
    df2 = pd.DataFrame.from_dict(employee_list)
    df2['start_date'] = pd.to_datetime(df2['start_date'])
    df2['payday_date'] = pd.to_datetime(df2['payday_date'])
    df2['no_of_days'] = (df2['payday_date'] - df2['start_date']).astype(str)
    amount = df2['no_of_days'] * df2['Daily-Rate']
    df2['amount_to_pay'] = (amount / np.timedelta64(1, 'D')).astype(int)

    df2.to_sql('employees', engine, index=False, if_exists='append')

In [26]:
def drop_table():
    engine = create_engine("mysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=dbname, user=uname, pw=pwd))
    
    engine.execute("DROP employees")

In [32]:
create_payroll(1)

Enter name: Apa
Enter person's daily rate: 15
Enter start date in MM/DD/YYYY: 5/1/2021
Enter payday date in MM/DD/YYYY: 5/5/2021
Employee(s) added!

In [33]:
add_employee(1)

Enter name: CJ
Enter person's daily rate: 44
Enter start date in MM/DD/YYYY: 5/5/2021
Enter payday date in MM/DD/YYYY: 5/10/2021
Employee(s) added!